logs/
target/
*/target
bin/
CVS/
*~

poc-web/logs

# eclipse config files that are annoying
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.maven.ide.eclipse.prefs
org.eclipse.m2e.core.prefs
org.eclipse.wst.xsl.core.prefs
org.eclipse.jpt.core.prefs
.settings/*.prefs
.metadata/
.settings/
.classpath
**/.classpath
.project
*.bat
RemoteSystemsTempFiles/

#intellij
.idea/
*.iml
*.orig
.recommenders/caches/
.recommenders/*
.recommenders/
